@model List<ExamQuestionViewModel>

<form asp-action="SubmitExam" method="post">

    <input type="hidden" name="studentId" value="1" />
    <input type="hidden" name="examId" value="@Model.First().ExamId" />

    @for (int i = 0; i < Model.Count; i++)
    {
        var q = Model[i];

        <input type="hidden"
               name="answers[@i].QuestionId"
               value="@q.QuestionId" />

        <p><b>@q.QuesDescription</b></p>

        @* ===== MCQ ===== *@
        if (q.Options.Count > 0)
        {
            foreach (var opt in q.Options)
            {
                <label>
                    <input type="radio"
                           name="answers[@i].AnswerText"
                           value="@opt.OptionId" />
                    @opt.Text
                </label>
                <br />
            }
        }
        else
        {
            @* ===== True / False ===== *@

            <label>
                <input type="radio"
                       name="answers[@i].AnswerText"
                       value="1" /> True
            </label>

            <br />

            <label>
                <input type="radio"
                       name="answers[@i].AnswerText"
                       value="0" /> False
            </label>
        }

        <hr />
    }

    <button type="submit">Submit Exam</button>

</form>
